% This is a template file used to generate A1-sized placards
% summarizing all the talks that take place in a particular room.

\documentclass{extbook}

\usepackage{pdfpages}
\usepackage[a4paper,inner=1.25cm,outer=1.25cm,bottom=2cm,top=4cm,headsep=2.5cm,footskip=1cm]{geometry}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{fancyhdr}
\usepackage{array}
\usepackage{url}
\usepackage{longtable}
\usepackage{graphicx}
\usepackage{multirow}
\usepackage{ragged2e}

%\usepackage{emnlp2015}

%\renewcommand{\footnotesize}{\fontsize{6}{7}\selectfont}
%\renewcommand{\small}{\fontsize{8}{9}\selectfont}
%\renewcommand{\normalsize}{\fontsize{10}{11}\selectfont}
%\renewcommand{\large}{\fontsize{12}{14}\selectfont}
%\renewcommand{\Large}{\fontsize{18}{20}\selectfont}
%\renewcommand{\huge}{\fontsize{24}{28}\selectfont}

\pagestyle{fancy}
\markboth{}{}
\renewcommand{\headrule}{}

\lhead{
\textbf{\Large{}{{ date }} }\newline
\textbf{\Large{}\rule[0.5ex]{.6\columnwidth}{1pt}}\newline
\textbf{\huge{}{{ room }} }\newline
}
\rhead{\raisebox{-0.01\height}{\includegraphics[width=5.5cm]{content/images/EMNLP-2015-Logo.jpg}}}

\fancyfoot[L]{ {\small EMNLP 2015: Conference on Empirical Methods in Natural Language Processing} }
\fancyfoot[C]{ }
\fancyfoot[R]{\small\url{emnlp2015.org} }

\begin{document}

\bigskip{}

\renewcommand{\arraystretch}{1.5}

{% for session in sessions %}
\vfill{}
\noindent\begin{tabular}{p{0.1\textwidth}p{0.85\textwidth}}
  \multicolumn{2}{l}{\bfseries\large{}{{ session.title }}} \\\hline
{% for paper in session.papers %} {{ paper.time }}
{% if paper.authors == "" %} & {{ paper.title }} \\ {% else %} & {{ paper.title }} \newline {\itshape {{ paper.authors }}} \\ {% endif %}
{% endfor %}
\end{tabular}
{% endfor %}

\end{document}

